@font-face {
	font-family: 'Monda';
	font-style: normal;
	font-weight: 400;
	src: local('Monda Regular'), local('Monda-Regular'), url('Monda.woff') format('woff');
	-webkit-font-smoothing: antialiased;
}

body {
	height: 100%;
	background-color: #C7E5F5;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana;
	color: #FFF;
	background-image: url("../img/bg.png");
	background-size: 6px 6px;
	line-height: 2em;
}
a {
	color: #7BBFEC;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img { 
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
}
img.logo {
	display: inline;
	padding: 1px 0 0 6px;
	float: left;
	height: 34px;
}
#logoText {
	display: inline-block;
	margin: 6px 0 0 10px;
	color: #7BBFEC;
	font-family: 'Monda', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 16px;
}
#bubble {
	position: relative;
	z-index: 1;
	width: 680px;
	height: 310px;
	margin: 5% auto 0 auto;
	background: #080812;
	border-radius: 8px 0 8px 8px;
	box-shadow: 4px 4px #72B1DB;
}
#bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 305px;
	top: 310px;
	border: 30px solid;
	border-color: #080812 transparent transparent #080812;
	z-index: 0;
}
#bubble #head {
	background: #131316;
	width: 100%;
	padding: 2px 0 5px 0;
	height: 32px;
	border-radius: 15px 0 0 0;
}
#bubble #loginLinks a {
	margin-left: 10px;
}
#bubble #loginLinks {
	float: right;
	margin: 6px 17px 0 0;
	font-weight: bold;
	text-align: right;
}
#bubble .button {
	display: none;
	cursor: pointer;
	float: right;
	margin: 9px 10px 0 0;
	box-shadow: 2px 2px #111;
	width: 18px;
	height: 18px;
}
#bubble #info {
	float: left;
	padding-left: 15px;
	width: 380px;
	font-size: 1.1em;
	margin-top: 5px;
}
#bubble #info #introParagraph {
	color: #CCCCD0;

}
#bubble #info li {
	list-style-type: square;
	margin-left: -22px;
}
#bubble #loginForm {
	float: right;
	padding-right: 15px;
	margin-top: 5px;
}
#bubble #loginForm input {
	text-align: center;
}
[type=text], [type=password], [type=button], [type=submit], textarea {
	display: block;
	background: #151520;
	font-size: 1.4em;
	padding: 3px;
	color: #FFF;
	border: none;
	margin: 15px auto 0 auto;
	border: 1px solid #222;
	width: 205px;
	outline: none;
}
#bubble #conversationName, #bubble #nickname {
	margin-left: 2px;
}
#bubble #loginSubmit {
	width: 211px;
}
[type=submit] {
	box-shadow: 2px 2px #7BBFEC;
}
[type=submit]:hover {
	cursor: pointer;
	background: #7BBFEC;
	border: 1px solid #7BBFEC;
}
[type=submit]:active {
	border: 1px solid #7BBFEC;
	box-shadow: 2px 2px #72B1DB;
}
#loginInfo {
	color: #999;
	background: #151520;
	padding: 2px 5px;
	width: 204px;
	margin: 14px 0 0 1px;
	font-size: 1em;
	line-height: 16px;
}
#bubble h1 {
	font-family: Helvetica, Arial;
	font-size: 1.5em;
}
#bubble .loginOption {
	background: #7BBFEC;
	color: #000;
	padding: 0 6px 4px 6px;
	width: 201px;
	display: block;
	margin-left: 2px;
	font-size: 0.9em;
	font-weight: bold;
	height: 15px;
}
#bubble .loginOption:hover {
	text-decoration: none;
}
#bubble .loginOption span {
	position: relative;
	bottom: 5px;
}
#bubble #options {
	background: #202020;
	width: 110px;
	height: 20px;
	padding: 1px 0 2px 2px;
	position: absolute;
	border-radius: 5px 0 8px 0;
	right: 0;
	bottom: 0;
}
#bubble #version {
	position: absolute;
	left: 14px;
	bottom: 0px;
	font-size: 7px;
	font-family: monospace;
	color: #888;
}
#bubble #languageSelect {
	color: #7BBFEC;
	margin: 0 10px;
	font-weight: bold;
}
#bubble #languageSelect:hover {
	text-decoration: none;
}
#bubble #languages {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
	width: 425px;
	display: none;
	margin: 0 -40px;
}
#bubble #languages li {
	margin-left: 20px;
	cursor: pointer;
}
#buddyWrapper {
	overflow: hidden;
	width: 150px;
	float: right;
	height: 495px;
	display: none;
	position: absolute;
	right: 0;
}
#buddyList {
	height: 495px;
	width: 160px;
	overflow-y: scroll;
	overflow-x: hidden;
	line-height: 13px;
}
.buddy {
	background: #72B1DB;
	background-position: 85% 7px;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	color: #FFF;
	padding: 8px 7px 6px 7px;
	font-family: 'Monda', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	width: 133px;
	height: 15px;
	display: none;
	position: relative;
	border-left: 3px solid #7BBFEC;
	z-index: 1;
	text-align: left;
	cursor: pointer;
	z-index: 15;
}
.buddyMenu {
	position: relative;
	z-index: 2;
	float: right;
	margin: 0;
	font-size: 0.9em;
	background-image: url("../img/down.png");
	background-size: 14px 14px;
	width: 14px;
	height: 14px;
	cursor: pointer;
	border-radius: 3px 0 3px 3px;
	opacity: 0.8;
}
.buddyMenu:hover {
	background-color: #111;
	box-shadow: 2px 2px #111;
}
.buddyMenuContents {
	display: none;
	margin: 5px 0 0 -7px;
	width: 147px;
}
.buddyMenuContents li {
	list-style-type: none;
	background: rgba(255, 255, 255, 0.15);
	padding: 1px 0 1px 10px;
	font-size: 0.9em;
	cursor: pointer;
}
.buddyMenuContents li:hover {
	background: rgba(255, 255, 255, 0.4);
}
.buddyMenu:active {
	background: #000;
}
#buddy-main-Conversation {
	background-image: url("../img/groupChat.png");
	background-position: 96% 7px;
}
#dialogBox {
	position: absolute;
	width: 470px;
	height: 240px;
	border-radius: 8px 0 8px 8px;
	margin: 120px auto 0 -235px;
	left: 50%;
	z-index: 4;
	font-size: 1.1em;
	border: 1px solid #222;
	border-right: none;
	background: rgba(0, 0, 0, 0.94);
	box-shadow: 2px 2px #E93028;
	top: -450px;
	color: #7BBFEC;
	font-family: monospace;
}
#dialogBoxClose {
	height: 18px;
	width: 0;
	font-size: 0;
	text-align: center;
	color: #FFF;
	background: #E93028;
	float: right;
	margin-top: 1px;
	padding-bottom: 4px;
	cursor: pointer;
	font-family: Helvetica, Arial, Verdana;
	font-weight: bold;
}
#dialogBoxContent {
	padding: 25px 0 0 0;
}
#displayInfo {
	font-size: 1.1em;
	padding: 10px 20px;
	height: 80px;
}
#dialogBoxContent p {
	padding: 10px;
	max-width: 340px;
	margin: 0 auto;
}
#dialogBox .bar, #dialogBox .button, #dialogBox .no {
	width: 458px;
	background: #202020;
	padding: 5px 6px;
	font-size: 1em;
	box-shadow: none;
	font-family: Helvetica, Arial;
	margin: 0;
	border: none;
	display: block;
	box-sizing: content-box;
	outline: none;
	color: #FFF;
	text-align: left;
}
#dialogBox .button, #dialogBox .no {
	cursor: pointer;
	margin-top: 5px;
}
#dialogBox .button {
	background: #7BBFEC;
}
#dialogBox .no {
	background: #E93028;
}
#conversationWrapper {
	width: 750px;
	overflow: hidden;
	float: left;
}
#conversationWindow {
	z-index: 3;
	height: 412px;
	display: none;
	font-family: 'Monda', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	position: relative;
	font-size: 1.25em;
	overflow-x: hidden;
	overflow-y: scroll;
}
#conversationInfo, .Line1, .Line2, .Line3 {
	background: #161B26;
	border-radius: 5px 0 5px 5px;
	padding: 7px 10px;
	word-wrap: break-word;
	text-align: left;
	position: relative;
	margin: 30px 0 16px 20px;
	opacity: 0;
}
.Line2 {
	background: #11141E;
}
.Line3 {
	background: #1B232F;
}
.Line1:before {
	top: 100%;
}
.Line1:after, .Line2:after, .Line3:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	top: 100%;
	border: 7px solid;
}
.Line1:after {
	left: 15px;
	border-color: #161B26 transparent transparent #161B26;
}
.Line2:after {
	right: 15px;
	border-color: #11141E #11141E transparent transparent;
}
.Line3:after {
	right: 15px;
	border-color: #1B232F #1B232F transparent transparent;	
}
.visibleLine {
	opacity: 1;
	margin-top: 20px;
}
#conversationInfo {
	background: #7BBFEC;
	text-align: left;
	font-size: 1em;
	margin: 0;
	border-radius: 0;
	padding: 6px 0 10px 0;
	width: 0;
	float: left;
	height: 13px;
	font-family: 'Monda', 'Helvetica', 'Arial', 'Verdana';
	border-bottom: 1px solid #72B1DB;
	display: none;
	opacity: 1;
	box-shadow: 0 10px 40px #000;
	z-index: 10;
}
#conversationInfo .conversationUserCount {
	background: #97CEEC;
	border-radius: 0 5px 5px 0;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	margin: 0 10px 10px 0;
	padding: 5px 5px 4px 5px;
	vertical-align: 10px;
}
#conversationInfo .conversationName {
	position: absolute;
	bottom: 3px;
}
#conversationInfo #groupConversation {
	position: absolute;
	right: 10px;
	line-height: 19px;
}
#conversationWindow .timeStamp {
	color: #BBB;
	font-size: 0.8em;
	font-family: monospace;
	vertical-align: 1px;
}
#conversationWindow .sender {
	color: #7BBFEC;
	padding: 7px 3px 6px 0;
	width: 100px;
	margin: 0 10px;
	display: inline;
	text-align: right;
}
#conversationWindow .nickHighlight {
	color: #7BBFEC;
}
#userInput {
	display: none;
}
#userInputText {
	background: #0D0D17;
	border-radius: 5px 0 5px 5px;
	padding: 8px 10px;
	height: 32px;
	float: left;
	margin: 0 0 7px 14px;
	display: inline;
	border: none;
	border-left: 6px solid #7BBFEC;
	box-shadow: none;
	font-family: 'Monda', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	text-align: left;
	resize: none;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
}
#progressForm {
	font-size: 0.9em;
}
#progressInfo span {
	font-size: 1.2em;
	font-weight: bold;
}
#progressForm img {
	float: left;
	margin: 8px 20px 0 0;
	box-shadow: 2px 2px #7BBFEC;
}
#progressInfo {
	width: 320px;
	font-size: 1em;
	position: relative;
	bottom: 70px;
	float: right;
}
#progressInfo #interestingFact {
	font-size: 1em;
	height: 55px;
	line-height: 1.6em;
	margin-top: 10px;
	color: #777;
}
#progressBar {
	margin-top: 10px;
	height: 17px;
	width: 308px;
}
#progressBar #fill {
	height: 100%;
	width: 0%;
	color: #000;
	background: #7BBFEC;
	opacity: 0.8;
}
#dialogBox [type=text], #dialogBox [type=password], #dialogBox [type=submit] {
	background: #000;
	border: 1px solid #222;
	color: #FFF;
	float: left;
	margin: 0 5px 10px 5px;
	width: 255px;
	font-size: 1em;
}
#dialogBox #resetKeysOK {
	background: #000;
	border: 1px solid #7BBFEC;
	color: #7BBFEC;
	margin: 0 auto;
	width: 100px;
	box-shadow: 2px 2px #7BBFEC;
	font-size: 1.2em;
	cursor: pointer;
}
#dialogBox [type=checkbox] {
	width: 10px;
	height: 10px;
}
#otrFingerprint, #multiPartyFingerprint {
	font-weight: bold;
	font-size: 14px;
}
#otrColorprint, #multiPartyColorprint {
	height: 20px;
	margin: 2px 0 10px 0;
}
.colorprint {
	width: 71px;
	height: 12px;
	display: inline-block;
}
#fileSelector {
	display: none;
}
#fileErrorField {
	color: #F00;
	margin: 20px 0;
	font-weight: bold;
}
.imageView, .fileView {
	background-color: #7BBFEC;
	color: #FFF;
	padding: 0 2px 0 21px;
	margin-left: 10px;
	box-shadow: 1px 1px #34BEED;
	font-size: 0.9em;
	background-image: url("../img/file.png");
	background-position: center left;
	background-repeat: no-repeat;
	font-family: monospace;
	display: inline-block;
}
.userJoin, .userLeave {
	background-color: #7BBFEC;
	width: 180px;
	padding: 6px;
	margin: 20px;
	opacity: 0.9;
	text-align: center;
	border-radius: 5px 0 5px 5px;
	font-size: 1em;
}
.userLeave {
	background: #F00;

}
.userJoin strong, .userLeave strong {
	padding-right: 10px;
	font-size: 1.4em;
	vertical-align: -1px;

}
.imageView:hover, .fileView:hover {
	text-decoration: none;
}

.emoticon {
	background-repeat: no-repeat;
	height: 14px;
	width: 14px;
	display: inline-block;
	vertical-align: 10%;
	margin: 0 3px;
	background-size: 100% 100%;
	font-size: 2px;
	color: transparent;
}
#eCat { background-image: url('../img/emoticon/cat.png') }
#eCry { background-image: url('../img/emoticon/cry.png') }
#eGasp { background-image: url('../img/emoticon/gasp.png') }
#eGrin { background-image: url('../img/emoticon/grin.png') }
#eSad { background-image: url('../img/emoticon/sad.png') }
#eSmile { background-image: url('../img/emoticon/smile.png') }
#eSquint { background-image: url('../img/emoticon/squint.png') }
#eTongue { background-image: url('../img/emoticon/tongue.png') }
#eUnsure { background-image: url('../img/emoticon/unsure.png') }
#eWink { background-image: url('../img/emoticon/wink.png') }
#eWinkTongue { background-image: url('../img/emoticon/winkTongue.png') }
#eHappy { background-image: url('../img/emoticon/happy.png') }
#eShut { background-image: url('../img/emoticon/shut.png') }